{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block content %}

<h1> Последние обновления на сайте</h1>
{% for post in page %}
    <div  class="card-body card mb-3 mt-1 shadow-sm">
    <p class="card-text">
    Автор:<a name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}">
                                 <strong class="d-block text-gray-dark">{{ post.author }}</strong>
                        </a>
        {{ post.text|linebreaksbr }}
    </p>
   {% if user == post.author %}
                                <a class="btn btn-sm text-muted" href="{% url 'post_edit' post.author.username post.id %}"
                                        role="button">
                                        Редактировать
                                </a>
                                {% endif %}
    <small class="text-muted">Дата публикации: {{ post.pub_date|date:"d M Y" }}</small>
    </div>
    {% endfor %}



{% if page.has_other_pages %}
    {% include "paginator.html" with items=page paginator=paginator %}
{% endif %}

{% endblock %}